//Font-colors
$color-font: #0e0f0e;
$color-font-invert: #ffffff;
$color-font-second: #B5A8E3;

//Main colors
$color-primary: #171649;
$color-secondary: #B5A8E3;

$color-primary-2:#10373B;
$color-secondary-2: #DCD7F9;

$color-accent: #4b4b4b;

//Borders
$border-primary: #D5D7DA;
$border-secondary: #D5D7DA;
$border-input: #D5D7DA;

//Flags / tags
$flag-font: #ffffff;
$flag-font-invert: #000000;

//Page background
$color-page-bg: #171649;
$color-page-bg-invert: #1d1d1b;
$color-page-bg-secondary: #f7f7f7;

$color-danger: #dc3545;

//Header bg
$header-bg: transparent;
$footer-bg: transparent;

// Funkce pro generování odstínů
@function shade($color, $weight) {
  @return mix(black, $color, $weight);
}

@function tint($color, $weight) {
  @return mix(white, $color, $weight);
}


$color-font-900: shade($color-font, 80%);
$color-font-800: shade($color-font, 65%);
$color-font-700: shade($color-font, 50%);
$color-font-600: shade($color-font, 35%);
$color-font-500: $color-font;
$color-font-400: tint($color-font, 20%);
$color-font-300: tint($color-font, 40%);
$color-font-200: tint($color-font, 60%);
$color-font-100: tint($color-font, 75%);
$color-font-050: tint($color-font, 90%);


// Primary palette
$color-primary-900: shade($color-primary, 80%);
$color-primary-800: shade($color-primary, 65%);
$color-primary-700: shade($color-primary, 50%);
$color-primary-600: shade($color-primary, 35%);
$color-primary-500: $color-primary;
$color-primary-400: tint($color-primary, 20%);
$color-primary-300: tint($color-primary, 40%);
$color-primary-200: tint($color-primary, 60%);
$color-primary-100: tint($color-primary, 75%);
$color-primary-050: tint($color-primary, 90%);

// Secondary palette
$color-secondary-900: shade($color-secondary, 80%);
$color-secondary-800: shade($color-secondary, 65%);
$color-secondary-700: shade($color-secondary, 50%);
$color-secondary-600: shade($color-secondary, 35%);
$color-secondary-500: $color-secondary;
$color-secondary-400: tint($color-secondary, 20%);
$color-secondary-300: tint($color-secondary, 40%);
$color-secondary-200: tint($color-secondary, 60%);
$color-secondary-100: tint($color-secondary, 75%);
$color-secondary-050: tint($color-secondary, 90%);

// Basic colors
$white: #ffffff;
$white-90: rgba($white, 0.9);
$white-80: rgba($white, 0.8);
$white-70: rgba($white, 0.7);
$white-60: rgba($white, 0.6);
$white-50: rgba($white, 0.5);
$white-40: rgba($white, 0.4);
$white-30: rgba($white, 0.3);
$white-20: rgba($white, 0.2);
$white-10: rgba($white, 0.1);

$black: #000000;
$black-90: rgba($black, 0.9);
$black-80: rgba($black, 0.8);
$black-70: rgba($black, 0.7);
$black-60: rgba($black, 0.6);
$black-50: rgba($black, 0.5);
$black-40: rgba($black, 0.4);
$black-30: rgba($black, 0.3);
$black-20: rgba($black, 0.2);
$black-10: rgba($black, 0.1);


// SASS paleta (shade/tint)
$color-danger-900: shade($color-danger, 80%);
$color-danger-800: shade($color-danger, 60%);
$color-danger-700: shade($color-danger, 40%);
$color-danger-600: shade($color-danger, 20%);
$color-danger-500: $color-danger;
$color-danger-400: tint($color-danger, 20%);
$color-danger-300: tint($color-danger, 40%);
$color-danger-200: tint($color-danger, 60%);
$color-danger-100: tint($color-danger, 75%);
$color-danger-050: tint($color-danger, 90%);